.manage-inventory .container {
    max-width: 900px;
    padding: 80px 0;
}

.manage-invt-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.manage-invt-title h2 {
    font-size: 36px;
    margin-bottom: 0;
}

.add-new-item button {
    background-color: #f0f7ff;
    color: #2c425d;
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-new-item button:hover {
    background-color: #2c425d;
    color: #f0f7ff;
}

table {
    width: 100%;
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
    border-spacing: 0;
}

thead {
    text-align: left;
    background: #f0f7ff;
    color: #0c3eb8;
}

thead th:first-child,
thead th:last-child {
    border-radius: 4px;
}

thead th,
thead th,
tbody td,
tbody td {
    padding: 10px 15px;
}

thead th:last-child,
tbody td:last-child {
    text-align: center;
}

td {
    border-bottom: 2px solid #f0f7ff;
}

.add-new-mobile {
    display: none;
}

.mobile {
    display: none;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .manage-inventory .container {
        max-width: 700px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .manage-inventory .container {
        max-width: 325px;
    }

    .add-new-item {
        display: none;
    }

    .manage-invt-title h2 {
        font-size: 24px;
        line-height: 32px;
    }
 
    table {
        padding: 10px;
    }

    thead th,
    thead th,
    tbody td,
    tbody td {
        padding: 5px 10px;
    }

    td,
    th {
        font-size: 12px;
    }

    thead th:nth-child(2),
    tbody td:nth-child(2) {
        display: none;
    }

    .mobile {
        margin-top: 20px;
        text-align: right;
        display: block;
    }

    .mobile button {
        width: 100%;
        justify-content: center;
        padding: 8px;
    }
}
