.manage-inventory .container {
    max-width: 900px;
    padding: 80px 0;
}

.table-bar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 4px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table-bar select {
    background-color: #f0f7ff;
    color: #0c3eb8;
    padding: 5px 10px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
}

.table-bar .add-new-car button {
    background-color: #f0f7ff;
    padding: 5px 30px;
    color: #2c425d;
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-bar .add-new-car button:hover {
    background-color: #2c425d;
    color: #f0f7ff;
}

.table-container {
    padding: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 4px;
}

table {
    width: 100%;
    border-spacing: 0;
}

thead {
    text-align: left;
    background: #f0f7ff;
    color: #0c3eb8;
}

thead th:first-child,
thead th:last-child {
    border-radius: 4px;
}

thead th,
thead th,
tbody td,
tbody td {
    padding: 10px 15px;
}

tr:not(:last-child) td {
    border-bottom: 2px solid #f0f7ff;
}

.table-bar .pages {
    display: flex;
    gap: 20px;
}

.pagination-btn {
    background-color: #0c3eb8;
    padding: 5px 15px;
}

.pagination-btn:hover {
    background-color: #2c425d;
}

.current {
    background-color: #2c425d;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .manage-inventory .container {
        max-width: 700px;
    }

    .table-bar .pages {
        gap: 10px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .manage-inventory .container {
        max-width: 325px;
    }

    .table-container, .table-bar {
        padding: 10px;
    }

    .table-bar {
        gap: 10px;
    }

    .table-bar h3 {
        line-height: 24px;
    }

    .table-bar .add-new-car button {
        padding: 5px 20px;
    }

    .table-bar .pages {
        gap: 10px;
    }

    .pagination-btn {
        padding: 5px 10px;
    }

    thead th,
    thead th,
    tbody td,
    tbody td {
        padding: 5px 10px;
    }

    td,
    th {
        font-size: 12px;
    }

    thead th:nth-child(2),
    tbody td:nth-child(2) {
        display: none;
    }
}
