.inventory-container {
    background-image: url('../../../images/bg-shape.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.inventory-container .container {
    padding: 80px 0;
}

.inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.inventory-title {
    margin-bottom: 40px;
}

.all-inventory {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.all-inventory button {
    background-color: #f0f7ff;
    color: #2c425d;
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-inventory button:hover {
    background-color: #2c425d;
    color: #f0f7ff;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .inventory {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
}
