.my-cars-container .container {
    padding: 80px 0;
}

.car-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    align-items: center;
}

.car-header h2 {
    margin-bottom: 0;
}

.empty h3 {
    margin-bottom: 20px;
}

.empty button {
    background-color: #f0f7ff;
    color: #2c425d;
    display: flex;
    align-items: center;
    gap: 10px;
}

.empty button:hover {
    background-color: #2c425d;
    color: #f0f7ff;
}

.react-confirm-alert-body h1 {
    font-size: 24px;
    line-height: 30px;
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .car-title {
        margin-bottom: 20px;
    }
}
