.blog-container .container {
    padding: 80px 0;
    max-width: 900px;
}

.blog-title {
    margin-bottom: 40px;
}

.blog-item {
    background-color: #fff;
    border: 1px solid #f0f7ff;
    box-shadow: 0 6px 20px 0 rgb(0 0 0 / 6%);
    padding: 30px;
    margin-bottom: 20px;
}

.blog-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}
/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .blog-container .container {
        max-width: 700px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .blog-title {
        margin-bottom: 20px;
    }

    .blog-container .container {
        padding: 50px 0;
        max-width: 325px;
    }
}
