.banner-container .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 50px;
    padding: 40px 0;
}

.banner-content p {
    font-size: 18px;
    line-height: 32px;
}

.banner-img img {
    width: 100%;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {
    .banner-content p {
        font-size: 16px;
        line-height: 28px;
    }
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    .banner-container .container {
        display: flex;
        flex-direction: column-reverse;
        gap: 30px;
    }
    
    .banner-content p {
        font-size: 16px;
        line-height: 28px;
    }
}
