.header-container {
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 10px rgb(78 82 99 / 15%);
    z-index: 10;
}

.header-container .container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.site-logo h3 {
    color: #444;
    font-size: 20px;
    cursor: pointer;
}

.navigation,
.entry-point {
    display: flex;
    align-items: center;
    gap: 30px;
}

.navigation a {
    color: #444;
    font-weight: 500;
    transition: 0.3s ease-in-out;
}

.navigation a:hover {
    color: #0c3eb8;
}

.site-logo {
    z-index: 10;
}

.nav-ber {
    display: none;
    z-index: 10;
}


/* Medium devices (landscape tablets, phones 992px and down) */
@media only screen and (max-width: 992px) {
    .navigation {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        box-shadow: rgb(149 157 165 / 20%) 0 8px 24px;
        height: 80vh;
        gap: 20px;
        justify-content: center;
        transform: translateY(-105%);
        transition: .3s ease-in-out;
    }

    .nav-mobile {
        transform: translateY(0%);
    }

    .nav-ber {
        display: block;
    }

    .nav-ber svg {
        font-size: 22px;
        cursor: pointer;
    }

    .entry-point {
        flex-direction: column;
    }
}
