td svg {
    background-color: #ff3366;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
}

td svg:hover {
    background-color: #e82e6c;
}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    
        .sold span {
            display: none;
        }
    td svg {
        padding: 5px;
        font-size: 10px;
    }
}
