td svg {
    background: #ff3366;
    color: #fff;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

/* Medium devices (landscape tablets, 689px and up) */
@media only screen and (min-width: 689px) and (max-width: 992px) {

}

/* Extra small devices (phones, 688px and down) */
@media only screen and (max-width: 688px) {
    td svg {
        padding: 5px;
        font-size: 10px;
    }
}
